@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.publication-filters {
  display: grid;
  grid-template-columns: 2fr repeat(4, minmax(130px, 1fr));
  gap: 12px;
  margin-bottom: 20px;

  &__control {
    @include control;
  }

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
  }
}
